environment {
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    GDK_BACKEND "wayland,x11"
    MOZ_ENABLE_WAYLAND "1"
    XCURSOR_THEME "Breeze_Hacked"
    XCURSOR_SIZE "24"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    NIXOS_OZONE_WL "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"
    WALLPAPER_DIR "/home/sairu/dotfiles/wallpapers"
    XDG_MENU_PREFIX "plasma-"
    QT_QPA_PLATFORMTHEME "kde"
}

spawn-at-startup "bash" "-lc" "systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_SESSION_TYPE XDG_SESSION_DESKTOP XDG_MENU_PREFIX QT_QPA_PLATFORM GDK_BACKEND MOZ_ENABLE_WAYLAND ELECTRON_OZONE_PLATFORM_HINT NIXOS_OZONE_WL && kbuildsycoca6 >/dev/null 2>&1 || true"
spawn-at-startup "bash" "-lc" "command -v swww-daemon >/dev/null 2>&1 && swww-daemon || true"
spawn-at-startup "bash" "-lc" "command -v cliphist >/dev/null 2>&1 && command -v wl-paste >/dev/null 2>&1 && (wl-paste --type text --watch cliphist store & wl-paste --type image --watch cliphist store &) || true"
