window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    geometry-corner-radius 4
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}

window-rule {
    match app-id=r#"^firefox$"#
    match app-id=r#"^zen$"#
    match app-id=r#"^code$"#
    match app-id=r#"^dev\.zed\.Zed$"#
    open-maximized-to-edges true
}

window-rule {
    match app-id=r#"^org\.gnome\.Calculator$"#
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^org\.kde\.dolphin$"#
    match app-id=r#"^com\.saivert\.pwvucontrol$"#
    open-floating true
}

window-rule {
    match app-id=r#"^firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"^zoom$"#
    open-floating true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
    open-floating true
}

window-rule {
    match app-id=r#"^(xwaylandvideobridge|org\.kde\.xwaylandvideobridge|xdg-desktop-portal.*|plasmawindowed|krunner|kded6)$"#
    open-on-workspace "sys-bg"
    open-focused false
    open-floating true
}
