[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
GenericName=Web Browser
Comment=Browse the Web
Exec=env MOZ_ENABLE_WAYLAND=1 /usr/lib/firefox/firefox %u
Terminal=false
Icon=firefox
StartupWMClass=firefox
DBusActivatable=false
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=application/json;application/pdf;application/xhtml+xml;text/html;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/chrome;
StartupNotify=true
Actions=new-window;new-private-window;open-profile-manager;

[Desktop Action new-window]
Name=Open a New Window
Exec=env MOZ_ENABLE_WAYLAND=1 /usr/lib/firefox/firefox --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=env MOZ_ENABLE_WAYLAND=1 /usr/lib/firefox/firefox --private-window %u

[Desktop Action open-profile-manager]
Name=Open Profile Manager
Exec=env MOZ_ENABLE_WAYLAND=1 /usr/lib/firefox/firefox --ProfileManager
